
.vertical-text {
    writing-mode: vertical-rl;
    transform:scale(-1);
}

.setting_name {
    font-family: "Fira Code","Fira Mono",Menlo,Consolas,"DejaVu Sans Mono",monospace;
}

.setting_name::after {
    display: block;
    content: "=";
    margin: 0 3px;
    color: rgb(64,120,242);
}